{% extends "base.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
<main id="main">

    <section class="section">
        <div class="container">
            <div class="row mb-4 align-items-center">
                <div class="col-md-6" data-aos="fade-up">
                    <h2>{{shop.title}}</h2>
                    <p>{{shop.summary}}</p>
                </div>
            </div>
        </div>

        <div class="site-section pb-0">
            <div class="container">
                <div class="row align-items-stretch">
                    <div class="col-md-8" data-aos="fade-up">
                        <img src="{% static 'upload/photos/' %}{{ shop.file_name }}" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
                        <div class="sticky-content">
                            <h3 class="h3">{{shop.subject}}</h3>
                            <p class="mb-4"><span class="text-muted">{{shop.category}}</span></p>

                            <div class="mb-5">
                                <p>
                                    {{shop.contents}}
                                </p>
                            </div>
                            <p>
                                <a href="/works" class="readmore">Works</a>
                                <a href="/work-modify/{{shop.no}}" class="readmore">Modify</a>
                                <a href="/work-remove/{{shop.no}}" class="readmore">Remove</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main><!-- End #main -->
{% include "footer.html" %}
{% endblock %}