{% extends "base.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}

<main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                    <h2>Hey, I'm Johan Stanworth</h2>
                    <p class="mb-0">Freelance Creative &amp; Professional Graphics Designer</p>
                </div>
                <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
                    <p><a href="/work-reg" class="readmore">reg</a></p>
                    <div id="filters" class="filters">

                        <a href="#" data-filter="*" class="active">All</a>
                        <a href="#" data-filter=".web">Web</a>
                        <a href="#" data-filter=".design">Design</a>
                        <a href="#" data-filter=".branding">Branding</a>
                        <a href="#" data-filter=".photography">Photography</a>
                    </div>
                </div>

            </div>
            <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
                {% if rsshop|length != 0 %}
                {% for i in rsshop %}
                <div class="item {{i.category|lower}} col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="/work-single/{{i.no}}" class="item-wrap fancybox">
                        <div class="work-info">
                            <h3>{{i.subject}} </h3>
                            <span>{{i.category}}</span>
                        </div>
                        <img class="img-fluid" src="{% static 'upload/photos/' %}{{ i.file_name }}">
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <p class="mb-0">The work does not exist.</p>
                {% endif %}
            </div>

        </div>
    </section><!-- End  Works Section -->
</main><!-- End #main -->
{% include "footer.html" %}
{% endblock %}